#principal{
    box-sizing: border-box;
    width: 55%;
    height: 700px;
    background-color: rgb(250,226,108);
    margin: 0 auto;
    display: flex;
    border-radius: 20px;
    margin-top: 200px;
}

#izquierda,
#derecha {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
}

#izquierda {
    float: left;
    padding-top: 150px;
    padding-left: 2px;
}

#derecha {
    float: right;
    padding-top: 150px;
    padding-left: 200px;
}

#cabeza,
#cuerpo,
#pie {
    box-sizing: border-box;
    width: 300px;
}

#in1,
textarea {
    box-sizing: border-box;
    width: 300px;
    margin-top: 5px;
    background-color: rgba(255,255,255,255);
    border: 5px solid rgba(47,51,46,255);
    border-radius: 12px;
}

#in1::placeholder,
textarea::placeholder{
    color: rgba(47,51,46,255);
}

textarea {
    height: 150px;
}

#in2 {
    box-sizing: border-box;
    width: 300px;
    margin-top: 5px;
    background-color: rgba(146,207,160,255);
    border: 5px solid rgba(47,51,46,255);
    color: rgba(47,51,46,255);
    border-radius: 12px;
}